.greeting {
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    background-color: whitesmoke!important;
}

textarea {
    background-color: whitesmoke!important;
}